.wc-block-components-radio-control-accordion-option .wc-paycrypto-me-icon {
    max-height: 18px;
    width: auto;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}